#self {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
